:root {
    --tea: #876445;
    --milk-tea: #CA965C;
    --honey: #EEC373;
    --cream: #f7f1e6;
}

* {
    font-family:'Patrick Hand', cursive;;
}

.container {
    position:absolute;
    max-width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    background-color: var(--cream);
  }

li a {
    font-weight: bold;
    font-size: 200%;
} 
nav a {
    color:var(--honey);
    background-color: var(--tea);
    border-bottom: .3rem;
    padding: 2rem;
}

footer a{
    color:var(--milk-tea);
    background-color: var(--cream);
    padding: 2rem;
}

p {
    text-align: left;
    font-size: 125%;
    line-height: 1.5;
    margin: 2rem;
}
ul {
    display: flex;
    flex-flow: row flex-end;
    margin-bottom: 2rem;
    /* background-color: var(--tea); */
}

li {
    display: inline;
    text-align: right;
}

header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    height: 6rem;
    margin-left: 0;
    background-color: var(--tea);
    color: var(--honey);
}

h1 {
    color: var(--tea);
    background-color: var(--honey);
    font-size: 300%;
    margin: 1rem 0 2rem 0;
    border-radius: 0 .25rem .25rem 0;  
}

h2 {
    font-size: 300%;
    text-align: right;
    padding: .5rem;
}

h3 {
    position: relative;
    color: var(--tea);
    background-color: var(--honey);
    font-size: 180%;
}

figure {
    position: relative;
}

.flex-section {
    display: flex;
    max-width: 99%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: .5rem;
    position: relative;
}

.subtitle {
    position: absolute;
    top: 13rem;
    right: 1rem;
    font-size: 200%;
    border-radius: .25rem;
    padding: .25rem;
}

.hero {
    background-image: url(/Assets/images/wood.jpg); /* The image used */
    background-color: var(--cream); /* Used if the image is unavailable */
    height: 10rem; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}

.flex-aside {
    flex: 0 0 20%;
    color: var(--milk-tea);
    border-right: solid .3rem var(--milk-tea);
    border-bottom: solid .3rem var(--milk-tea);
    border-radius: .5rem;
}

.flex-article {
    flex: 1 0 80%;
    padding: .5rem;
}

.cardLarge {
    position: relative;
    flex: 1 0 96%;
    height: 30rem;
    border: 1rem solid var(--honey);
    border-radius: .5rem;
    margin: 1rem;
    box-shadow: rgba(133, 130, 130, 0.815) .2rem .2rem .2rem;
}

.card-title {
    position: relative;
    display: inline-block;
    background-color: var(--honey);
    color: var(--tea);
    top: 40%;
    padding: .25rem;
    border-radius: 0 .25rem .25rem 0;
}

.card-title h3,
.card-title p {
    margin: .1rem auto;
}

.cardSmall {
    position: relative;
    flex: 0 0 48%;
    height: 10rem;
    background-color: var(--honey);
    color: var(--tea);
    border: 1rem solid var(--honey);
    border-radius: .5rem;
    margin: .7rem;
    box-shadow: rgba(133, 130, 130, 0.815) .2rem .2rem .2rem;
}


#card1 {
    background-image: url(/Assets/images/surf.jpg); /* The image used */
    background-color: var(--tea); /* Used if the image is unavailable */
    height: 30rem; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; 
}

#card2 {
    background-image: url(/Assets/images/led.jpg); /* The image used */
    background-color: var(--tea); /* Used if the image is unavailable */
    height: 10rem; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; 
}

#card3 {
    background-image: url(/Assets/images/calc.jpg); /* The image used */
    background-color:var(--tea); /* Used if the image is unavailable */
    height: 10rem; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; 
}

#card4 {
    background-image: url(/Assets/images/pastel.jpg); /* The image used */
    background-color: var(--tea); /* Used if the image is unavailable */
    height: 10rem; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; 
}

#card5 {
    background-image: url(/Assets/images/run.jpg); /* The image used */
    background-color: var(--tea); /* Used if the image is unavailable */
    height: 10rem; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; 
}